*{
    padding:0;
    box-sizing:border-box;
    margin:0;
}
/**** scroll abr styling****/

html::-webkit-scrollbar{
    background-color: transparent;
    width:10px;
}

html::-webkit-scrollbar-track{
   
    
    
}

html::-webkit-scrollbar-thumb{
    background-color: rgb(11, 184, 207);
    border-radius:60px;
}


p::-webkit-scrollbar{
    background-color: transparent;
    width:10px;
    
}

p::-webkit-scrollbar-track{
   
    
    
}

p::-webkit-scrollbar-thumb{
    background-color: rgb(11, 184, 207);
    border-radius:60px;
}







body{
    font-family: poppins;
    display:relative;
    max-width:1440px;
    margin:auto;
}

.section{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}
.add-writeup{

    font-size:1.5rem;
    text-align:center;
}
.container,.note-items{
    width: 320px;
    padding:30px;
    background-color: rgb(84, 240, 240);
    margin:20px 20px;
    display:flex;
    justify-content:space-evenly;
    border-radius:1rem;


}

.container:hover{

    background-color: rgba(12, 146, 224, 0.801);

}

.circle{
    border-radius:50%;
    padding:0px;
    height:150px;
    width:150px;
    font-size:4rem;
    display:flex;
    align-items:center;
    justify-content: center;
    cursor:pointer;
    border:5px dotted black;
}

.close{
    background-color: red;
    padding:10px;
    font-size:1rem;
    cursor:pointer;
    float:right;
    left:0px;
    /* z-index:1; */
}









/**************************** note popup form ****************************************/

.add-container{
    background-color: rgba(79, 183, 243, 0.253);

}


.openthis{
    display:block;
    background-color: rgba(79, 183, 243, 0.253);
    position: absolute;
    /* display:none; */
    width:100vw;
    height:100vh;
    z-index:1;
    top:0;
    left:0;
    backdrop-filter: blur(3px);
    
    position:fixed;
   
  
}
.closethis{
    display:none;
    /* transition: 0.5s ease-in; */
}


.note-form{
    background-color: rgb(0, 225, 255);
    width:320px;
    color:rgb(0, 0, 0);
    padding:20px;
    margin:80px auto;
    box-shadow: 2px 2px 50px 0px rgba(66, 60, 5, 0.363);
    transition: all 0.5s ease-in;
  
      
}

.note-form input{
    width:100%;
    font-family: poppins;
    padding:0.5rem;
    outline:none;
    border:0px;
    background-color: rgba(187, 230, 250, 0.815);

}
.note-form textarea{
    width:100%;
    font-family: poppins;
    padding:0.5rem;
    height:200px;
    outline:none;
    border:0px;
    background-color: rgba(187, 235, 250, 0.815);

}
.note-form button{
    background-color: rgb(8, 118, 138);
    width:100%;
    padding:10px;
    border:0px;
    font-size:1rem;
    
   
}


button:hover{
    background-color: rgb(190, 121, 18);

}


/************ note items ***************/


.note-items p{
    height:105px;
    word-wrap: break-word;
    overflow-y: auto;
    
}

/* .note-items div{
    
    
  
} */

.note-items .buttons{
    display:flex;
    justify-content: space-between;

}


.note-items button{
    background-color: rgb(76, 153, 253);
    /* width:100%; */
    padding:10px;
    border:0px;
    font-size:1rem;
    margin-top:10px;
    
   
}


button:hover{
    background-color: rgb(3, 179, 149);

}

/**** media query when its 320px screen ***/

@media screen and (max-width:320px){
    
    .container, .note-items{
        width: 320px;
        padding:30px;
        background-color: rgb(84, 240, 240);
        margin:10px 10px;
        display:flex;
        justify-content:center;
        border-radius:1rem;
    
    

}


}

